hostname: "0.0.0.0"  # Listen on all interfaces by default
port: 3000

# Debug configuration (optional)
debug:
  level: "info"  # Possible values: "error", "warn", "info", "debug", "verbose"

# Authentication configuration (optional)
# auth:
#   basic:
#     enabled: true
#     credentials:
#       - username: "admin"
#         password: "your-secure-password"
#   bearer:
#     enabled: true
#     tokens:
#       - "your-secure-token"

servers:
  # Run MCP servers with npx
  filesystem:
    command: npx
    args:
      - -y
      - "@modelcontextprotocol/server-filesystem"
      - "/home/aaron"

  brave-search:
    command: npx
    args:
      - -y
      - "@modelcontextprotocol/server-brave-search"

  puppeteer:
    command: npx
    args:
      - -y
      - "@modelcontextprotocol/server-puppeteer"

  # Run MCP servers with uvx
  time:
    command: uvx
    args:
      - mcp-server-time
      - --local-timezone=Australia/Melbourne
  mcp-server-fetch:
    command: uvx
    args:
      - mcp-server-fetch

  #  run an MCP server from local source
#  puppeteer-local:
#    command: tsx
#    args:
#      - "/home/aaron/AI/MCP-Servers/src/puppeteer/index.ts"